header,
footer {
    /* background: var(--main-color-2); */
    opacity: 0.8;
}

main {
    background: var(--main-color-1);
}

.nav-link {
    transition: 2s;
}

.nav-link:hover {
    color: white;
}